{% extends "base.html" %}

{% block head_title %}Room Rentals || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1> Inn Profile List<small>

	<ul>
	{% for obj in object_list %}
			<li><a href='{{ obj.get_absolute_url }}'>{{ obj.itemtype }}</a></br>

				{% if obj.itemdesc %}

				Contents:

				<ul>
					{% for item in obj.get_itemdesc %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul><br/>
				{% endif %}
				{% if obj.itemdesc %}
				Excludes:
				<ul>
					{% for item in obj.get_itemnote %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
				{% endif %}
		
		
			</li>

	{% empty %}
    		<p style="color:#373737;">Sorry, There are currenty no rooms scheduled for viewing on {{ day|date:"D, j M, Y" }} .</p>
	{% endfor %}
	</ul>

{% endblock %}