{% extends "base.html" %}
{% block head_title %}About || {{ block.super }}{% endblock head_title %}

{% block content %}

	<div class="span8" id="divMain">

    <h1>Find Your Next Stay</h1>
   
    <hr>
    <div class="row">
        <div class="col-lg-4">

        			<h4 style="color:#373737;">Need Viewing Updates?</h4>

        			<hr>

	<p style="color:#373737;" align="left">
		Submit your leasing requirements on the form on the right. inniin personnal will update you daily via Whatsapp on the upcoming viewings!
	</p>

    <p align="center">
		Require Additional Assistance?
	</p>

	<p style="color:#373737;" align="left">
		You may wish to contact us via our live chat which is available from 9am to 5pm SGT, Monday through Friday.
	</p>
	

	<p><a style="color:#FFF" class="btn btn-secondary" href="#" role="button">Live Chat</a></p>


      <hr>

        </div>
        <div class="col-lg-8">
        	<h4 style="color:#373737;">Subscribe To Daily Updates</h4>
        	<hr>
        	
        	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfSv_61GBT4dPeAPtRmuPWmPuqaJzENgGLQ-sqS11kMcUB9oA/viewform?embedded=true" width="450" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

        	<hr>

        </div>
      </div>
    
    
	</div>
	
{% endblock content %}