{% extends "basecn.html" %}
{% block head_title %}出租房间 || {{ block.super }}{% endblock head_title %}

{% block content %}

		<div class="span8" id="divMain">
	
    
	<h1>出租房间</h1>
	<hr>

    <div class="row">
        <div class="col-lg-4">

        <h4 style="color:#373737;">我要出租房间!</h4>

       	<hr>

	<p style="color:#373737;" align="left">
		您有房子想出租吗? 请填写表格，迎迎介绍组将会用微信联系您！
	</p>

    <p align="center">
		还有疑问?
	</p>

	<p style="color:#373737;" align="left">
		您能向我们的迎迎客服询问。迎迎客服时段：9:00 上午 - 5:00 下午，周一至周五。
	</p>
	

	<p><a style="color:#FFF" class="btn btn-secondary" href="#" role="button">网上客服</a></p>


      <hr>

        </div>
        <div class="col-lg-8">
        	<h4 style="color:#373737;">Submit Property Details</h4>
        	<hr>
        	
        	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfSv_61GBT4dPeAPtRmuPWmPuqaJzENgGLQ-sqS11kMcUB9oA/viewform?embedded=true" width="450" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

        	<hr>

        </div>
      </div>

	</div>
	
{% endblock content %}


